
$("#record<%=@serid%>").replaceWith("<div id='record<%=@serid%>' class='panel panel-danger'><div class='panel-heading'><div class='panel-title'>Deleting Service</div></div></div>");
$("#record<%=@serid%>").fadeOut(1000);
