$("#create-form").empty();
$("#create-form").append("<div class='btn-group pull-right'><%= escape_javascript(link_to 'Download Tags List', people_get_pdf_path, :class => 'btn btn-default') %><button class='btn btn-primary' data-toggle='modal' data-target='#person-form'>Add New Tag</button></div>");
$("#create-form").append("<%= escape_javascript(render partial: 'people/form' , locals: {nperson: @nperson, formid: 'person-form', newform: true})%>");
