
$("#record<%=@personid%>").replaceWith("<div id='record<%=@personid%>' class='panel panel-danger'><div class='panel-heading'><div class='panel-title'>Deleting Person</div></div></div>");
$("#record<%=@personid%>").fadeOut(1000);
