<div class="modal fade" id="mymodal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Item Reserved</h4>
      </div>

      <div class="modal-body">
        <p>
          <strong>Pick Up Date</strong>
          <%= res.check_out_date.to_datetime.strftime("%a, %Y-%m-%d, %l:%M %p") %>
        </p>
        <p>
          <strong>Return Date</strong>
          <%= res.deadline_date.to_datetime.strftime("%a, %Y-%m-%d, %l:%M %p") + " to " + res.deadline_date.to_datetime.change({hour: 13,min: 0,sec:0}).strftime("%a, %Y-%m-%d, %l:%M %p")%>
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-fab btn-fab-mini btn-raised btn-sm btn-success" data-dismiss="modal"><i class="mdi-navigation-check"></i></button>
      </div>

    </div>
  </div>
</div>