
$("#record<%=@tagid%>").replaceWith("<div id='record<%=@tagid%>' class='panel panel-danger'><div class='panel-heading'><div class='panel-title'>Deleting Tag</div></div></div>");
$("#record<%=@tagid%>").fadeOut(1000);
