
$("#record<%=@rolid%>").replaceWith("<div id='record<%=@rolid%>' class='panel panel-danger'><div class='panel-heading'><div class='panel-title'>Deleting Role</div></div></div>");
$("#record<%=@rolid%>").fadeOut(1000);
