$("#create-form").empty();
$("#create-form").append("<div class='btn-group pull-right'><%= escape_javascript(link_to 'Download Items List', items_get_pdf_path, :class => 'btn btn-default') %><button class='btn btn-primary' data-toggle='modal' data-target='#item-form'>Add New Item</button></div>");
$("#create-form").append("<%= escape_javascript(render partial: 'items/form' , locals: {nitem: @nitem, formid: 'item-form', tagid: 0, newform: true})%>");
