
$("#record<%=@itmid%>").replaceWith("<div id='record<%=@itmid%>' class='panel panel-danger'><div class='panel-heading'><div class='panel-title'>Deleting item with id <%=@itmid%></div></div></div>");
$("#record<%=@itmid%>").fadeOut(1000);
