
$("#record<%=@catid%>").replaceWith("<div id='record<%=@catid%>' class='panel panel-danger'><div class='panel-heading'><div class='panel-title'>Deleting Category</div></div></div>");
$("#record<%=@catid%>").fadeOut(1000);
