
$("#record<%=@locid%>").replaceWith("<div id='record<%=@locid%>' class='panel panel-danger'><div class='panel-heading'><div class='panel-title'>Deleting Location</div></div></div>");
$("#record<%=@locid%>").fadeOut(1000);
