<blockquote  class="shadow-z-4" style="background-color:#ffffff;">
	<h1 style="color: #000000;"> Illustration Aids 
	</h1>

	<p id="verse">
	</p>

	<footer >
		<cite id="author"></cite>
	</footer>
	
</blockquote>